{% extends 'Admin/AdminBase.html.twig' %}
{% block content %}

    <main>
        <div class="container-fluid">
            <ul class="row ariane">
                <li> <span class="ArianeSpan">Accueil </span></li>
            </ul>
        </div>


        <article class="introduction article">
            <h2>Bonjour Admin</h2>
            <p>Vous voici sur le forum et le site de partage de photo des Mousquetons Globe-trotteur, qui réunit des passionnés de randonnée et d'activité en plein air. Il est possible de partager ses expériences, ses coups de coeurs, ses conseils et d'encourager les Mousquetons et visiteurs à aller visiter les paysages que l'on a visité. </p>
            <p>La lecture du forum est publique, mais pour écrire où y ajouter du contenu il faut en être membre. C'est simple, rapide et vous intégrerez la famille des Mousquetons.</p>
        </article>

        <div class="news">
            <article class="article">
                <div class="row align-items-center text-center text-md-left p-4 p-md-0 bandeauFirst articleDiv"
                     style="background-image: url({{ asset("img/pyrenee.jpg") }});">
                    <div class="d-none d-md-block col-2 icon articleDiv">
                        <img src="{{ asset('img/pyrenee.jpg') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <ul class="ArticleLiens">
                    <li class="ArticleLigne">
                        <ul class="row menu container-fluid justify-content-between align-items-center m-0 ArticleLiens">
                            <li class="col-md-6 text-center text-md-left">
                                <h2>Les derniers parcours partagés</h2>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">nombres de visionnage</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">nombres de réponses</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">date d'ajour du post</span>
                            </li>
                        </ul>
                    </li>
                    <li class="ArticleLigne">
                        <!-- for pour récup les 3 derniers post -->
                        <a class="ArticleLien" href="{{ path('post') }}" >
                            <ul class="row menu container-fluid justify-content-between text-align-center align-items-center m-0 ArticleLiens">
                                <li class="col-md-6 text-center text-md-left">
                                    <h4>Titre du sujet posté</h4>
                                    <p class="ArticleParagraph" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, numquam, voluptatem consequuntur temporibus reprehenderit eum deserunt doloribus possimus cumque ab ratione soluta delectus dolore alias dicta nulla tempora consectetur! Quam!</p>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">2</span>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">25</span>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">02.02.2020</span>
                                </li>
                            </ul>
                        </a>
                    </li>

                </ul>
                <div class="text-center text-md-right articleDiv">
                    <a class="ArticleLien"  href={{ path('CourseDiscussion') }}>Voir plus</a>
                </div>

            </article>

            <!-- article 2 -->

            <article class="article">
                <div class="row align-items-center text-center text-md-left p-4 p-md-0 bandeauSecond articleDiv"
                     style="background-image: url({{ asset("img/flower.jpg") }});">
                    <div class="d-none d-md-block col-2 icon articleDiv">
                        <img src="{{ asset('img/flower.jpg') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <ul class="ArticleLiens">
                    <li class="ArticleLigne">
                        <ul class="row menu container-fluid justify-content-between text-align-center align-items-center m-0 ArticleLiens">
                            <li class="col-md-6 text-center text-md-left">
                                <h3>Des lieux à visiter</h3>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">nombres de visionnage</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">nombres de réponses</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">date d'ajour du post</span>
                            </li>
                        </ul>
                    </li>
                    <li class="ArticleLigne">
                        <!-- for pour récup les 3 derniers post -->
                        <a  class="ArticleLien" href="{{ path('post') }}" >
                            <ul class="row menu container-fluid justify-content-between text-align-center align-items-center m-0 ArticleLiens">
                                <li class="col-md-6 text-center text-md-left">
                                    <h4>Nom de lieux</h4>
                                    <p class="ArticleParagraph" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, numquam, voluptatem consequuntur temporibus reprehenderit eum deserunt doloribus possimus cumque ab ratione soluta delectus dolore alias dicta nulla tempora consectetur! Quam!</p>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">2</span>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">25</span>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">02.02.2020</span>
                                </li>
                            </ul>
                        </a>
                    </li>

                </ul>
                <div class="text-center text-md-right articleDiv">
                    <a  class="ArticleLien" href="{{ path('PlacesDiscussion') }}">Voir plus</a>
                </div>
            </article>

            <!-- article 3 -->

            <article class="article">
                <div class="row align-items-center text-center text-md-left p-4 p-md-0  bandeauThird articleDiv"
                    style="background-image: url({{ asset("img/activity.JPG")}})">
                    <div class="d-none d-md-block col-2 icon articleDiv">
                        <img src="{{ asset('img/activity.JPG')}}" alt="" class="img-fluid">
                    </div>
                </div>
                <ul class="ArticleLiens">
                    <li class="ArticleLigne">
                        <ul class="row menu container-fluid justify-content-between text-align-center align-items-center m-0 ArticleLiens">
                            <li class="col-md-6 text-center text-md-left">
                                <h3>Les activités du moment</h3>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">nombres de visionnage</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">nombres de réponses</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">date d'ajour du post</span>
                            </li>
                        </ul>
                    </li>
                    <li class="ArticleLigne">

                        <!-- for pour récup les 3 derniers post -->
                        <a  class="ArticleLien" href="{{ path('post') }}" >
                            <ul class="row menu container-fluid justify-content-between text-align-center align-items-center m-0 ArticleLiens">
                                <li class="col-md-6 text-center text-md-left">
                                    <h4>Les derniers sujets postés</h4>
                                    <p class="ArticleParagraph" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, numquam, voluptatem consequuntur temporibus reprehenderit eum deserunt doloribus possimus cumque ab ratione soluta delectus dolore alias dicta nulla tempora consectetur! Quam!</p>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">2</span>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">25</span>
                                </li>
                                <li class="d-none d-md-block col-2 text-center">
                                    <span class="ArticleSpan">02.02.2020</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <div class="text-center text-md-right articleDiv">
                    <a  class="ArticleLien" href={{ path('ActivitiesDiscussion') }}>Voir plus</a>
                </div>
            </article>
        </div>

        <div class="album">

            <h2 class="text-center">Les jeunes Galeries</h2>

            <article class="articleCarousel">
                <ul class="row menu d-none d-md-flex container-fluid justify-content-between text-align-center align-items-center m-0 ArticleCarouselLiens">
                    <!-- for pour récup les 3 dernieres galeries -->
                    <li class="col-3 picture ArticleCarouselLigne">
                        <a class="articleCarouselLien"  href={{ path('images') }}>
                            <ul class="ArticleLiens">
                                <li>
                                    <img src="{{ asset('img/imageTest1.JPG')}}" alt="" class="img-fluid">
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">TITRE</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">dernier album posté par</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">PSEUDO</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-3 picture ArticleCarouselLigne">
                        <a  class="articleCarouselLien" href={{ path('images') }}>
                            <ul class="ArticleLiens">
                                <li class="row">
                                    <img src="{{ asset('img/imageTest2.JPG')}}" alt="" class="img-fluid">
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">TITRE</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">dernier album posté par</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">PSEUDO</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-3 picture ArticleCarouselLigne">
                        <a  class="articleCarouselLien" href={{ path('images') }}>
                            <ul class="ArticleLiens">
                                <li>
                                    <img src="{{ asset('img/imageTest3.JPG')}}" alt="" class="img-fluid">
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">TITRE</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">dernier album posté par</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">PSEUDO</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </article>

            <article class="d-block d-md-none articleCarousel">
                <div id= "carouselExampleSlidesOnly" class= "carousel slide" data-ride= "carousel" >
                    <div class= "carousel-inner" >
                        <div class= "carousel-item active" >
                            <a class="articleCarouselLien"  href={{ path('images') }}>
                                <img class= "d-block w-100" src="{{ asset('img/imageTest1.JPG')}}" alt= "First slide" >
                                <div class= "carousel-caption d-none d-md-block" >
                                    <h5> TITRE </h5>
                                    <p class="ArticleParagraph" > Pseudo de l'utilisateur </p>
                                </div>
                            </a>
                        </div>
                        <div class= "carousel-item" >
                            <a class="articleCarouselLien"  href={{ path('images') }}>
                                <img class= "d-block w-100" src="{{ asset('img/imageTest2.JPG')}}" alt= "Second slide" >
                                <div class= "carousel-caption d-none d-md-block" >
                                    <h5> TITRE </h5>
                                    <p class="ArticleParagraph" >  Pseudo de l'utilisateur  </p>
                                </div>
                            </a>
                        </div>
                        <div class= "carousel-item" >
                            <a class="articleCarouselLien"  href={{ path('images') }}>
                                <img class= "d-block w-100" src="{{ asset('img/imageTest3.JPG')}}" alt= "Third slide" >
                                <div class= "carousel-caption d-none d-md-block" >
                                    <h5> TITRE </h5>
                                    <p class="Paragraph" >  Pseudo de l'utilisateur  </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </article>
        </div>


    </main>


{% endblock %}