{% extends 'Admin/Adminbase.html.twig' %}
{% block content %}

    <main>
        <div class="container-fluid">
            <ul class="row ariane">
                <li><a href={{ path('HomeAdmin') }}>Acceuil</a></li>
                <li><span>/ Galeries</span></li>
            </ul>
        </div>

        <div class="listGalerie d-flex flex-column justify-content-center flex-md-row justify-content-md-around flex-wrap">

            <!--faire un affichage 9 galeries avant de passer à la page suivante-->
            <div class="col-10 col-md-3 flex d-justify-content-center PrezGalerie">
                <a href="">
                    <div class="PicturePrez" style="background-image: url({{ asset("img/imageTest1.jpg") }});">
                    </div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-10 col-md-3 flex d-justify-content-center PrezGalerie">
                <a href="">
                    <div class="PicturePrez" style="background-image: url({{ asset("img/imageTest1.jpg") }});">

                    </div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-10 col-md-3 flex d-justify-content-center PrezGalerie">
                <a href="">
                    <div class="PicturePrez" style="background-image: url({{ asset("img/imageTest1.jpg") }});">

                    </div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-10 col-md-3 flex d-justify-content-center PrezGalerie">
                <a href="">
                    <div class="PicturePrez" style="background-image: url({{ asset("img/imageTest1.jpg") }});">

                    </div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-10 col-md-3 flex d-justify-content-center PrezGalerie">
                <a href="">
                    <div class="PicturePrez" style="background-image: url({{ asset("img/imageTest1.jpg") }});">

                    </div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-10 col-md-3 flex d-justify-content-center PrezGalerie">
                <a href="">
                    <div class="PicturePrez" style="background-image: url({{ asset("img/imageTest1.jpg") }});">

                    </div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-10 col-md-3 flex d-justify-content-center PrezGalerie">
                <a href="">
                    <div class="PicturePrez" style="background-image: url({{ asset("img/imageTest1.jpg") }});">

                    </div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-10 col-md-3 flex d-justify-content-center PrezGalerie">
                <a href="">
                    <div class="PicturePrez" style="background-image: url({{ asset("img/imageTest1.jpg") }});">

                    </div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>

        </div>

    </main>


{% endblock %}