{% extends 'Admin/AdminBase.html.twig' %}
{% block content %}

    <main>
        <div class="container-fluid">
            <ul class="row ariane">
                <li> <span class="ArianeSpan">Accueil </span></li>
            </ul>
        </div>


        <article class="introduction article">
            <h2>Bonjour Admin</h2>
            <p>Vous voici sur le forum et le site de partage de photo des Mousquetons Globe-trotteur, qui réunit des passionnés de randonnée et d'activité en plein air. Il est possible de partager ses expériences, ses coups de coeurs, ses conseils et d'encourager les Mousquetons et visiteurs à aller visiter les paysages que l'on a visité. </p>
            <p>La lecture du forum est publique, mais pour écrire où y ajouter du contenu il faut en être membre. C'est simple, rapide et vous intégrerez la famille des Mousquetons.</p>
        </article>

        <!-- article Parcours -->

        <div class="news">
            <article class="article">
                <div class="row align-items-center text-center text-md-left p-4 p-md-0 bandeauFirst articleDiv"
                     style="background-image: url({{ asset("img/pyrenee.jpg") }});">
                    <div class="d-none d-md-block col-2 icon articleDiv">
                        <img src="{{ asset('img/pyrenee.jpg') }}" alt="" class="img-fluid">
                    </div>
                </div>
                </ul>
                <ul class="ArticleLiens">
                    <li class="ArticleLigne">
                        <ul class="row menu container-fluid justify-content-between align-items-center m-0 ArticleLiens">
                            <li class="col-md-6 text-center text-md-left">
                                <h2>Les derniers parcours partagés</h2>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">Auteur</span>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">lieux</span>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">nombres de réponses</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">date d'ajour du post</span>
                            </li>
                        </ul>
                    </li>
                    <!--suite du code...-->


                    <!-- for pour récup les 3 derniers post -->
                    {% for parcour in parcours %}
                        <li class="ArticleLigne">
                            <a class="ArticleLien" href="{{ path('Adminpost', {'id':parcour.id}) }}" >
                                <ul class="row menu container-fluid justify-content-between text-align-center align-items-center m-0 ArticleLiens">
                                    <li class="col-md-6 text-center text-md-left">
                                        <h4>{{parcour.name}}</h4>
                                        <p class="ArticleParagraph" >{{ parcour.FirstPost }}</p>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ parcour.user.username }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ parcour.place.name }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ parcour.NmbPos }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-2 text-center">
                                        <span class="ArticleSpan">{{ parcour.date|date('d-M-Y') }}</span>
                                    </li>
                                </ul>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
                <div class="text-center text-md-right articleDiv">
                    <a class="ArticleLien"  href={{ path('AdminCourse')  }}>Voir plus</a>
                </div>

            </article>

            <!-- article Lieux -->

            <article class="article">
                <div class="row align-items-center text-center text-md-left p-4 p-md-0 bandeauSecond articleDiv"
                     style="background-image: url({{ asset("img/flower.jpg") }});">
                    <div class="d-none d-md-block col-2 icon articleDiv">
                        <img src="{{ asset('img/flower.jpg') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <ul class="ArticleLiens">
                    <li class="ArticleLigne">
                        <ul class="row menu container-fluid justify-content-between align-items-center m-0 ArticleLiens">
                            <li class="col-md-6 text-center text-md-left">
                                <h2>Les derniers lieux partagés</h2>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">Auteur</span>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">lieux</span>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">nombres de réponses</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">date d'ajour du post</span>
                            </li>
                        </ul>
                    </li>
                    <!-- for pour récup les 3 derniers post -->
                    {% for lieu in lieux %}
                        <li class="ArticleLigne">
                            <a class="ArticleLien" href="{{ path('Adminpost', {'id':lieu.id}) }}" >
                                <ul class="row menu container-fluid justify-content-between text-align-center align-items-center m-0 ArticleLiens">
                                    <li class="col-md-6 text-center text-md-left">
                                        <h4>{{lieu.name}}</h4>
                                        <p class="ArticleParagraph" >{{ lieu.FirstPost }}</p>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ lieu.user.username }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ lieu.place.name }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ lieu.NmbPos }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-2 text-center">
                                        <span class="ArticleSpan">{{ lieu.date|date('d-M-Y') }}</span>
                                    </li>
                                </ul>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
                <div class="text-center text-md-right articleDiv">
                    <a  class="ArticleLien" href="{{ path('AdminPlaces') }}">Voir plus</a>
                </div>
            </article>

            <!-- article Activités -->

            <article class="article">
                <div class="row align-items-center text-center text-md-left p-4 p-md-0  bandeauThird articleDiv"
                     style="background-image: url({{ asset("img/activity.JPG")}})">
                    <div class="d-none d-md-block col-2 icon articleDiv">
                        <img src="{{ asset('img/activity.JPG')}}" alt="" class="img-fluid">
                    </div>
                </div>
                <ul class="ArticleLiens">
                    <li class="ArticleLigne">
                        <ul class="row menu container-fluid justify-content-between align-items-center m-0 ArticleLiens">
                            <li class="col-md-6 text-center text-md-left">
                                <h2>Les dernières activitées partagés</h2>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">Auteur</span>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">lieux</span>
                            </li>
                            <li class="d-none d-md-block col-1 text-center">
                                <span class="ArticleSpan">nombres de réponses</span>
                            </li>
                            <li class="d-none d-md-block col-2 text-center">
                                <span class="ArticleSpan">date d'ajour du post</span>
                            </li>
                        </ul>
                    </li>
                    <!-- for pour récup les 3 derniers post -->
                    {% for activite in activites %}
                        <li class="ArticleLigne">
                            <a class="ArticleLien" href="{{ path('Adminpost', {'id':activite.id}) }}" >
                                <ul class="row menu container-fluid justify-content-between text-align-center align-items-center m-0 ArticleLiens">
                                    <li class="col-md-6 text-center text-md-left">
                                        <h4>{{activite.name}}</h4>
                                        <p class="ArticleParagraph" >{{ activite.FirstPost }}</p>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ activite.user.username }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ activite.place.name }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-1 text-center">
                                        <span class="ArticleSpan">{{ activite.NmbPos }}</span>
                                    </li>
                                    <li class="d-none d-md-block col-2 text-center">
                                        <span class="ArticleSpan">{{ activite.date|date('d-M-Y') }}</span>
                                    </li>
                                </ul>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="text-center text-md-right articleDiv">
                    <a  class="ArticleLien" href={{ path('AdminActivities') }}>Voir plus</a>
                </div>
            </article>
        </div>

        <!-- Albums -->

        <div class="album">

            <h2 class="text-center">Les jeunes Galeries</h2>

            <article class="articleCarousel">
                <ul class="row menu d-none d-md-flex container-fluid justify-content-between text-align-center align-items-center m-0 ArticleCarouselLiens">
                    <!-- for pour récup les 3 dernieres galeries -->
                    <li class="col-3 picture ArticleCarouselLigne">
                        <a class="articleCarouselLien"  href={{ path('images') }}>
                            <ul class="ArticleLiens">
                                <li>
                                    <img src="{{ asset('img/imageTest1.JPG')}}" alt="" class="img-fluid">
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">TITRE</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">dernier album posté par</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">PSEUDO</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-3 picture ArticleCarouselLigne">
                        <a  class="articleCarouselLien" href={{ path('images') }}>
                            <ul class="ArticleLiens">
                                <li class="row">
                                    <img src="{{ asset('img/imageTest2.JPG')}}" alt="" class="img-fluid">
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">TITRE</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">dernier album posté par</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">PSEUDO</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-3 picture ArticleCarouselLigne">
                        <a  class="articleCarouselLien" href={{ path('images') }}>
                            <ul class="ArticleLiens">
                                <li>
                                    <img src="{{ asset('img/imageTest3.JPG')}}" alt="" class="img-fluid">
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">TITRE</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">dernier album posté par</span>
                                </li>
                                <li class="d-none d-md-block">
                                    <span class="ArticleSpan">PSEUDO</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </article>

            <article class="d-block d-md-none articleCarousel">
                <div id= "carouselExampleSlidesOnly" class= "carousel slide" data-ride= "carousel" >
                    <div class= "carousel-inner" >
                        <div class= "carousel-item active" >
                            <a class="articleCarouselLien"  href={{ path('images') }}>
                                <img class= "d-block w-100" src="{{ asset('img/imageTest1.JPG')}}" alt= "First slide" >
                                <div class= "carousel-caption d-none d-md-block" >
                                    <h5> TITRE </h5>
                                    <p class="ArticleParagraph" > Pseudo de l'utilisateur </p>
                                </div>
                            </a>
                        </div>
                        <div class= "carousel-item" >
                            <a class="articleCarouselLien"  href={{ path('images') }}>
                                <img class= "d-block w-100" src="{{ asset('img/imageTest2.JPG')}}" alt= "Second slide" >
                                <div class= "carousel-caption d-none d-md-block" >
                                    <h5> TITRE </h5>
                                    <p class="ArticleParagraph" >  Pseudo de l'utilisateur  </p>
                                </div>
                            </a>
                        </div>
                        <div class= "carousel-item" >
                            <a class="articleCarouselLien"  href={{ path('images') }}>
                                <img class= "d-block w-100" src="{{ asset('img/imageTest3.JPG')}}" alt= "Third slide" >
                                <div class= "carousel-caption d-none d-md-block" >
                                    <h5> TITRE </h5>
                                    <p class="Paragraph" >  Pseudo de l'utilisateur  </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </article>

        </div>


    </main>



{% endblock %}