{% extends 'Admin/AdminBase.html.twig' %}
{% block content %}
    <div class="formUpdate">
        {{ form_start (updateUserForm) }}
        <div class="userAuthor">
            <p>Mise a jour du profil de {{ app.user.username }}</p>
        </div>
        <div class="">
            <p>Voulez-vous changer votre mail ?  </p>
            {{ form_widget(updateUserForm.email, {'attr': {'class': 'input_email'}}) }}
            {{ form_errors(updateUserForm.email)}}
        </div>
        <div class="">
            <p>Voulez-vous changer votre avatar ? </p>
            {{ form_widget(updateUserForm.profil.Avatar, {'attr': {'class': 'input_avatar'}}) }}
            {{ form_errors(updateUserForm.profil.Avatar)}}
        </div>
        <div class="textarea_content_updateProfil">
            <p>Voulez vous modifier votre description ? </p>
            {{ form_widget(updateUserForm.profil.Description, {'attr': {'class': 'textarea_content'}}) }}
            {{ form_errors(updateUserForm.profil.Description)}}
        </div>
        {{ form_end(updateUserForm) }}
    </div>

{% endblock %}