<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('CSS/main.css') }}">
        <title>Les Mousquetons Globe-trotteurs</title>
    </head>
    <body>

        <!--le header-->
        <header class="container-fluid p-0 header" style="background-image:url('{{ asset('img/background.jpg') }}')">
            <div class="HeaderBackground">
                <ul class="row container-fluid justify-content-between text-align-center align-items-center m-0 p-1 HeaderListe">
                    <li class="col-8">
                        <ul class="row justify-content-start align-items-center p-0">
                            <li class="col-2 m-2 d-none d-md-block"><img src="{{ asset('img/logo_provisoire.png') }}" alt="" class="img-fluid"></li>
                            <li class="d-none d-lg-block"><a class="HeaderLien" {{ path('Home') }}><h1 class="HeaderH1">Les Mousquetons Globe-trotteurs</h1></a></li>
                            <li class="d-none d-md-block d-lg-none"><a  class="HeaderLien" href={{ path('Home') }}><h1 class="HeaderH1">Les Mousquetons<br>Globe-trotteurs</h1></a></li>
                        </ul>
                    </li>

                    <li class="d-none d-md-block col-2 col-lg-1 p-0">
                        {% if is_granted('ROLE_USER') %}
                        <a class="boutton" href="{{ path('app_logout') }}">Déconnection</a>
                        {% else %}
                        <a class="boutton" href="{{ path('app_login') }}">Connexion</a>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <a class="boutton" href="{{ path('profil') }}">mon profil</a>
                        {% else %}
                    </li>

                </ul>
                <ul class="container-fluid justify-content-around text-align-center align-items-center m-0 p-1 d-none d-md-flex HeaderListe">
                    <li class="col-2"><a  class="HeaderLien" href={{ path('Course') }}>Les parcours</a></li>
                    <li class="col-2"><a class="HeaderLien"  href={{ path('Places') }}>Lieux à visiter</a></li>
                    <li class="col-2"><a  class="HeaderLien" href={{ path('Activities') }}>Les activités</a></li>
                    <li class="col-2"><a  class="HeaderLien" href={{ path('Galeries') }}>Les galeries</a></li>
                    <li class="col-2">
                        <a  class="HeaderLien" href="">
                            <ul class="d-flex container-fluid justify-content-center text-center align-items-center p-2 m-0 HeaderListe">
                                <li class="d-none d-lg-block col-10 search"><a class="searchLien" href="{{ path('search') }}">Une recherche?</a></li>
                                <li class="col-2 col-lg-1 p-0"><img src="{{ asset('img/recherche.png') }}" alt=""  class="img-fluid"></li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <ul class="d-flex container-fluid justify-content-between align-items-center p-2 m-0 d-md-none d-block HeaderListe">
                    <li class="col-9 col-md-7">
                        <ul class="row justify-content-start align-items-center p-0 HeaderListe">
                            <li class="col-2">
                                <ul class="menuBurger p-0 HeaderListe">
                                    <li class="line"></li>
                                    <li class="line"></li>
                                    <li class="line"></li>
                                </ul>
                            </li>
                            <li class="col-2"><a  class="HeaderLien" href=""><img src="{{ asset('img/recherche.png') }}" alt="" class="img-fluid"></a></li>
                            <li class="col-6"><h1 class="HeaderH1">Les Mousquetons<br>Globe-trotteurs</h1></li>
                        </ul>
                    </li>
                    <li class="d-none d-md-block col-2 col-lg-1 p-0">
                        {% if is_granted('ROLE_USER') %}
                            <a class="boutton" href="{{ path('app_logout') }}">Déconnection</a>
                        {% else %}
                            <a class="boutton" href="{{ path('app_login') }}">Connexion</a>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <a class="boutton" href="{{ path('profil') }}">mon profil</a>
                        {% else %}
                    </li>
                </ul>
            </div>

        </header>

        <!--le contenu-->
        <div class="main">
            {% block content %}

            {% endblock content%}
        </div>

        <!--le footer-->
        <footer class="footer">
            <ul class="container-fluid justify-content-center text-center align-items-center m-0 footerListe">
                <li class="col-md-2 footerLigne"><a class="footerLien" href="{{ path('formalitees') }}">Nous contacter</a></li>
                <li class="col-md-4 footerLigne"><a class="footerLien"  href="{{ path('formalitees') }}">Réglement du forum</a></li>
                <li class="col-md-4 footerLigne"><a class="footerLien"  href="{{ path('formalitees') }}">Politique de confidentialité</a></li>
                <li class="col-md-2 footerLigne"><a  class="footerLien" href="{{ path('formalitees') }}">Plan du site</a></li>
            </ul>
        </footer>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="{{ asset ('js/main.js') }}"></script>

    </body>
</html>