{% extends 'base.html.twig' %}
{% block content %}

    <div class="form">
        {# afficher le formulaire
        #}
        {{ form_start (discussionForm) }}
            <div class="userAuthor">
                <p>Nouvelle discussion de {{ app.user.username }}</p>
            </div>
            <div class="discussion_titre">
                <p>Quel est le titre de votre discussion ? </p>
                {{ form_widget(discussionForm.name, {'attr': {'class': 'input_name'}}) }}
                {{ form_errors(discussionForm.name)}}
            </div>
            <div class="discussion_first_post">
                <p>Veuillez écrire l'intruduction de votre discussion : </p>
                {{ form_widget(discussionForm.first_post, {'attr': {'class': 'input_first_post'}}) }}
                {{ form_errors(discussionForm.first_post)}}
            </div>
            <div class="discussion_categorie">
                <p>Indiquer la catégorie à laquelle appartient votre discussion :</p>
                {{ form_widget(discussionForm.categorie, {'attr': {'class': 'input_categorie'}}) }}
                {{ form_errors(discussionForm.categorie)}}
            </div>

        {{ form_end(discussionForm) }}
    </div>


{% endblock %}