{% extends 'base.html.twig' %}
{% block content %}
    <div class="form">
        <div class="userAuthor">
            <p>Nouvelle galerie de {{ app.user.username }}</p>
        </div>
        {{ form_start(albumForm) }}
            <div class="albumForm_name">
                <p>Quel est le titre de votre album ? </p>
                {{ form_widget(albumForm.name, {'attr': {'class': 'input_name'}}) }}
                {{ form_errors(albumForm.name)}}
            </div>
            <div class="albumForm_description">
                <p>Veuillez écrire une description de votre album : </p>
                {{ form_widget(albumForm.description, {'attr': {'class': 'textarea_content'}}) }}
                {{ form_errors(albumForm.description)}}
            </div>
            <div class="galbumForm_image">
                <p>Enregistrer vos images :</p>
                <ul class="generationImage" data-prototype="{{ form_widget(albumForm.image.vars.prototype)|e('html_attr') }}">
                    {%  for image in albumForm.image %}
                        <li>{{ form_row() }}</li>
                    {% endfor %}
                </ul>
            </div>
        {{ form_end(albumForm) }}
    </div>

{% endblock %}
